<div class="mobile-card-list">
  <div class="mobile-card-list__item" *ngFor="let item of data">
    <div class="mobile-card-list__header">
      <div class="mobile-card-list__header-content">
        <span class="mobile-card-list__header-label" *ngIf="config.headerLabel">{{ config.headerLabel }}</span>
        <span class="mobile-card-list__header-value">{{ item[config.headerKey] }}</span>
      </div>
      <button 
        *ngIf="config.showActionButton" 
        class="mobile-card-list__action-btn" 
        (click)="onCardAction(item)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
        </svg>
      </button>
    </div>
    
    <div class="mobile-card-list__content">
      <div 
        class="mobile-card-list__row" 
        *ngFor="let field of config.fields"
        [class.mobile-card-list__row--highlight]="field.highlight">
        <span class="mobile-card-list__label">{{ field.label }}</span>
        <span 
          class="mobile-card-list__value"
          [class.mobile-card-list__value--amount]="field.isAmount">
          {{ item[field.key] }}
        </span>
      </div>
    </div>
  </div>
  
  <ng-content *ngIf="showNoData" select="[no-data]"></ng-content>
</div>
