@import "./../../mixins/variables/color.scss";

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, $secondary-color);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.chronometer {
  font-size: 1.8em;
  font-weight: bold;
  color: #1a1a1a;
  margin-top: 1rem;
}

.text {
  font-size: 1.5em;
  color: #1a1a1a;
  margin-top: 1rem;
}