@import "../../../shared/mixins/sizes.scss";
@import "../../../shared/mixins/generalText.scss";
@import "../../../shared/mixins/variables/color.scss";

.ip-form-modal {
  width: 100%;
  padding: 0 1rem 1rem;
  @include sm(){
    padding: 0 0 1.5rem;
  }
  &__body {
    padding-top: 1.8rem;
    &-input{
      width: 100%;
    }
    &-title {
      color: #202020;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 3rem;
      @include sm(){        
        @include subtitleTextMobile();
      }
      @include md(){        
        @include subtitleTextMobile();
      }
    }
    &-container {      
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      gap: 1.25rem;
      @include sm() {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 0.5rem;
      }
      @include md(){
        column-gap: 1rem;
      }
      
      &-content {
        display: flex;
        width: 26.75rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        @include sm() {
          width: 100%;
          gap: 1.25rem;
        }
        @include md() {
          width: 100%;
          gap: 1.25rem;
        }        
        &-full-width {
          width: 100% !important;
          grid-column: 1 / span 2;
          & textarea {
            height: 4rem !important;
            padding: 0.75rem !important;
            resize: none;
          }
        }        
        &-radio {
          display: flex;
          align-items: center;
          width: 100%;
          height: 2.5rem;
          padding: 0.7rem;
          gap: 1rem;
          margin-bottom: 1rem;
          @include sm(){
            font-size: 0.75rem;
            height: 1.75rem;
            gap: 0.5rem;
            padding: 0.5rem;
            margin-bottom: 0.7rem;
          }
          @include md(){
            font-size: 0.75rem;
            height: 1.75rem;
            gap: 0.5rem;
            padding: 0.5rem;
            margin-bottom: 0.7rem;
          }
          &-group {
            display: flex;
            gap: 1.5rem;
            @include sm(){
              gap: 0.5rem;
            }
            @include md(){
              gap: 0.5rem;
            }
          }
        }
        &-checkbox {
          display: flex;
          align-items: center;
          height: 2.5rem;
          padding: 0.7rem;
          margin-bottom: 1rem;
          @include sm(){
            font-size: 0.75rem;
            height: 1.75rem;
            margin-bottom: 0.7rem;
          }
          @include md(){
            font-size: 0.75rem;
            height: 1.75rem;
            margin-bottom: 0.7rem;
          }
        }        
      }
    }
  }
  &__footer {
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    @include sm(){
      padding-top: 0.928rem;
      margin-top: 0.928rem;
      gap: 0.696rem;
    }
    @include md(){
      padding-top: 0.928rem;
      margin-top: 0.928rem;
      gap: 0.696rem;
    }    
  }
}