<div class="additional-filters-modal" *ngIf="open" (click)="onOverlayClick()">
  <div class="additional-filters-modal__content" (click)="$event.stopPropagation()">
    <button type="button" class="additional-filters-modal__close" (click)="onCancelClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
    <h3 class="additional-filters-modal__title">{{ title }}</h3>
    
    <div class="additional-filters-modal__body">
      <ng-content></ng-content>
    </div>

    <div class="additional-filters-modal__footer">
      <button type="button" class="btn btn--clear" (click)="onClearClick()">{{ clearLabel }}</button>
      <button type="button" class="btn btn--cancel" (click)="onCancelClick()">{{ cancelLabel }}</button>
      <button type="button" class="btn btn--apply" (click)="onApplyClick()">{{ applyLabel }}</button>
    </div>
  </div>
</div>
