/*
    *Resoluciones de pantallas (Screen resolutions)
*/
$screen-xsm: 430px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-md-x: 1366px;
$screen-lg: 1600px;

$screen-laptop: 1600px;

$screen-mmd: 1300px;

$screen-v-sm: 800px;
$screen-h-sm: 396px;

/*
    * General Padding (gp)
*/

$gp-sm: 1rem 1rem 0;
$gp-md: 1rem 1.5rem 0;
$gp-lg: 1rem 3rem 0;

/*
    * Breackpoint: max-width of all page (bp)
*/

$bp-max-width: 1300px;
