<aside class="sidebar" [class.collapsed]="isCollapsed">

  <div class="section">
    <div class="menu-items">
      <a class="menu-item" routerLink="/invopay/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="Inicio">
        <img src="../../../assets/new-styles/icons/sidebar/home-icon.svg" alt="Inicio">
        <span class="label" *ngIf="!isCollapsed"style="color:#0071CE;">{{ 'IP.SIDENAV.HOME' | translate }}</span>
      </a>
        <a class="menu-item" routerLink="/invopay/sell-list" routerLinkActive="active" title="Ventas">
        <img src="../../../assets/icons/sell.svg" alt="Ventas">
        <span class="label" *ngIf="!isCollapsed"style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.SALES' | translate }}</span>
      </a>
       <div class="menu-item-group">
        <div class="menu-item has-submenu" [class.open]="revenueSubmenuOpen" (click)="toggleRevenueSubmenu()" title="Recaudaciones">
          <img src="../../../assets/icons/pay_in.svg" alt="Recaudaciones">
          <span class="label" *ngIf="!isCollapsed" style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.PAY_IN' | translate }}</span>
          <span class="arrow" *ngIf="!isCollapsed">▼</span>
        </div>
        
        <div class="submenu" *ngIf="revenueSubmenuOpen && !isCollapsed">
          <a class="menu-item" routerLink="/invopay/revenue-list" routerLinkActive="active" title="Listado">
            <span class="label">Listado</span>
          </a>
          <a class="menu-item" routerLink="/invopay/payments-entities" routerLinkActive="active" title="Proveedores">
            <span class="label">{{ 'IP.SIDENAV.OPTIONS.SUPPLIER' | translate }}</span>
          </a>
        </div>
      </div>

      <div class="menu-item-group">
        <div class="menu-item has-submenu" [class.open]="notificationsSubmenuOpen" (click)="toggleNotificationsSubmenu()" title="Notificaciones">
          <img src="../../../assets/new-styles/icons/bell.svg" alt="Notificaciones">
          <span class="label" *ngIf="!isCollapsed" style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.NOTIFICATIONS' | translate }}</span>
          <span class="arrow" *ngIf="!isCollapsed">▼</span>
        </div>
        
        <div class="submenu" *ngIf="notificationsSubmenuOpen && !isCollapsed">
          <a class="menu-item" routerLink="/invopay/insurance-notification-tray" routerLinkActive="active" title="Seguros" *ngIf="userType === 'ENTERPRISE_MANAGER'">
            <span class="label">{{ 'IP.SIDENAV.OPTIONS.NOTIFICATIONS_OPTIONS.INSURANCE' | translate }}</span>
          </a>
          <a class="menu-item" routerLink="/invopay/broker-notification-tray" routerLinkActive="active" title="Broker" *ngIf="userType !== 'ENTERPRISE_MANAGER'">
            <span class="label">{{ 'IP.SIDENAV.OPTIONS.NOTIFICATIONS_OPTIONS.BROKER' | translate }}</span>
          </a>
        </div>
      </div>

      <a class="menu-item"  title="Comisiones">
        <img src="../../../assets/icons/finances-icon.svg" alt="Comisiones">
        <span class="label" *ngIf="!isCollapsed"style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.PRODUCTION' | translate }}</span>
      </a>

      <a class="menu-item"  title="Liquidaciones">
        <img src="../../../assets/icons/payments.svg" alt="Liquidaciones">
        <span class="label" *ngIf="!isCollapsed"style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.SETTLEMENTS' | translate }}</span>
      </a>

      <a class="menu-item"  title="Pagos">
        <img src="../../../assets/icons/pay_out.svg" alt="Pagos">
        <span class="label" *ngIf="!isCollapsed"style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.PAYMENTS' | translate }}</span>
      </a>

      <a class="menu-item"  title="Cobranza">
        <img src="../../../assets/icons/book_collection.svg" alt="Cobranza">
        <span class="label" *ngIf="!isCollapsed" style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.COLLECTION_OPTIONS.TITLE' | translate }}</span>
      </a>
    </div>
  </div>

  <div class="divider" *ngIf="!isCollapsed"></div>

  <div class="section">
    <div class="menu-items">
      <a class="menu-item"  title="Configuraciones">
        <img src="../../../assets/icons/management-icon.svg" alt="Configuraciones">
        <span class="label" *ngIf="!isCollapsed"style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.MANAGEMENT' | translate }}</span>
      </a>
      <div class="divider" *ngIf="!isCollapsed"></div>
      <a class="menu-item" title="Rendiciones">
        <img src="../../../assets/icons/group_people.svg" alt="Rendiciones">
        <span class="label" *ngIf="!isCollapsed"style="color:#0071CE;">{{ 'IP.SIDENAV.OPTIONS.RENDITIONS' | translate }}</span>
      </a>
      <div class="divider" *ngIf="!isCollapsed"></div>
    </div>
  </div>
</aside>