@import "../../../shared/mixins/variables/color.scss";
@import "../../../shared/mixins/sizes.scss";
@import "../../../shared/mixins/generalText.scss";

.ip-header-v2 {
  &__toolbar {
    z-index: 3;
    position: relative;
    margin: $header-margin-y $header-margin-x !important;
    padding: $header-padding !important;
    background: $header-bg-color !important;
    box-shadow: $header-box-shadow !important;
    height: 5rem !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xl() {
      padding-left: 0.5rem !important;
    }
    @include lg() {
      padding-left: 0.5rem !important;
    height: 3.5rem !important;
    }
    @include md() {
      height: 3.5rem !important;
      padding: 0 1rem !important;
    }
    @include sm() {
      height: 3.5rem !important;
    }

    // layout: logo izquierda / resto derecha
    .ip-header-v2__left {
      display: flex;
      align-items: center;

      .ip-header-v2__img {
        height: 40px;
        max-width: 82px;
        margin-right: 1rem;
        @include lg() {
          max-width: 3.5rem;
        }
        @include md() {
          max-width: 3.5rem;
        }
      }
    }

    .ip-header-v2__right {
      display: flex;
      align-items: center;
    }

    .ip-header-v2__title-company {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include companyNameHeaderText();
      margin-right: 0.25rem;

      &-provider {
        font-weight: 400;
        @include sm() {
          font-size: 0.7rem;
        }
      }

      &-business-to-provide {
        margin-bottom: 4px;
      }

      &-user {
        font-weight: 400;
        font-size: 1rem;
        margin-top: 5px;
        @include sm() {
          font-size: 0.7rem;
          margin: 0;
        }
      }

      &-licence {
        @include subSubTitleText;
        color: $header-text-color;
        @include sm() {
          margin: 0;
          font-size: 0.6rem;
        }
      }
      &-name {
        @include subTitleText;
        color: $header-text-color;
        @include sm() {
          margin: 0;
          font-size: 0.6rem;
        }
      }
    }

    .ip-header-v2__icon-button,
    .ip-header-v2__menu-button {
      margin-left: 0.5rem;
    }

    .ip-header-v2__menu-button-desktop-only {
      margin-right: 0.4rem;
    }


    @include sm() {
      .ip-header-v2__title-company {
        display: none;
      }

      .ip-header-v2__icon-button {
        display: none;
      }
    }
  }

  &__sidenav-container {
    height: 100vh;
  }

  &__sidenav {
    background: $sidenav-bg-color !important;
    width: 220px;
    padding-top: 0.5rem;
  }

  &__nav-list {
    padding: 0;
    padding-bottom: 10rem;
    margin: 0;
  }

  &__nav-list-section {
    margin-bottom: 0.3rem;
  }

  &__nav-list-divider {
    margin: 0.1rem;
  }

  &__nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    @include sidenavTextLabel;

    &--selected {
      background-color: $sidenav-menu-active-bg-color;
      font-weight: 600;
      @include sidenavActiveTextLabel;
    }

    &--has-submenu {
      user-select: none;
    }

    &:hover {
      background-color: $sidenav-menu-hover-bg-color;
    }
  }

  &__nav-item-content {
    display: flex;
    align-items: center;
  }

  &__nav-item-img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    @include lg() {
      height: 1rem;
      width: 1rem;
    }
    @include md() {
      height: 1rem;
      width: 1rem;
    }
    @include sm() {
      height: 0.8rem;
      width: 0.8rem;
    }
  }


  &__nav-item-arrow {
    width: 16px;
  }

  &__nav-sublist {
    padding-left: 1.25rem;
  }

  &__nav-sublist-divider {
    margin: 0.5rem;
    position: relative;
    hr{
      margin: 0.7rem 0;
    }
  }

  &__nav-sublist-title {
    color: #666;
    position: absolute;
    width: max-content;
    top: 0;
    right: 50%;
    background: $sidenav-bg-color;
    color: $secondary-color;
    @include sidenavTextLabel();
    transform: translateY(-50%) translateX(50%);
  }

  &__nav-sublist-item {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    margin: 0.4rem;
    text-decoration: none;
    border-radius: $card-border-radius;
    @include sidenavTextLabel;
    @include lg() {
      padding: 0.2rem ;
      margin: 0.2rem ;
    }
    @include md() {
      padding: 0.2rem ;
      margin: 0.2rem ;
    }
    @include sm() {
      padding: 0.2rem ;
      margin: 0.2rem ;
    }

    &--selected {
      font-weight: 600;
      background-color: $sidenav-menu-active-bg-color;
      @include sidenavActiveTextLabel;
    }

    &:hover {
      background-color: $sidenav-menu-hover-bg-color;
    }
  }

  &__nav-sublist-item-content {
    display: flex;
    align-items: center;
  }

  &__nav-sublist-arrow {
    width: 12px;
    margin-right: 0.5rem;
    display: none;
    &-selected {
      @include activeTextLabel();
      border-right: none;
      background-color: $sidenav-bg-color;
      display: flex;
    }
  }

  &__nav-manage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $sidenav-menu-hover-bg-color;
    }
  }
  
  &__nav-mobile {
    display: flex;
    flex-direction: column;
    @include lg{
      display: none;
    }
    @include xl{
      display: none;
    }
    @include md{
      display: none;
    }
  }


  &__content {
    background-color: #f5f5f5;
    height: 100%;
    transition: margin-left 0.3s ease; // WIP ANIM
  }

  &__main-content {
    padding: 1rem 1rem 10rem;
    overflow-y: auto;
    @include lg{
      padding: 0.7rem 0.7rem 10rem;
    }
    @include md{
      padding: 0.7rem 0.7rem 10rem;
    }
  }


  // Desktop
  @include xl() {
    &__sidenav {
      width: 280px;

      &.collapsed {
        width: 60px !important;
      }
    }
  }

  @include lg() {
    &__sidenav {
      width: 240px;

      &.collapsed {
        width: 50px !important;
      }
    }
  }
  @include md() {
    &__sidenav {
      width: 200px;

      &.collapsed {
        width: 50px !important;
      }
    }
  }

  &__settings{
    margin-right: 1rem;
    @include sm{
      display: none;
    }
  }
}