@import "../../../shared/mixins/variables/color.scss";
@import "../../../shared/mixins/generalText.scss";
@import "../../../shared/mixins/sizes.scss";

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  margin: 0;
  background-color: $background-tables;
  &__head {
    &-row {
      &-item:last-child {
        min-width: 7.5rem;
        text-align: center;
      }
      &-item:first-child {
        padding-left: 1.5rem;
        text-align: start;
      }
      &-item {
        position: relative;
        padding: 0.6875rem 1.5rem 0.6875rem 0;
        vertical-align: middle;
        width: max-content;
        white-space: nowrap;
        user-select: none;

        border-top: thin solid $table-lines;
        border-bottom: thin solid $table-lines;
        &Sortable {
          cursor: pointer;
        }
        &--text {
          @include tableHeaderText();
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;

          &__check {
            pointer-events: all;
            margin: 0 1rem;
          }
        }
        .up {
          svg:last-child {
            opacity: 0;
          }
        }
        .down {
          svg:first-child {
            opacity: 0;
          }
        }
        &-sort {
          padding-left: 1rem;
          display: inline-flex;
          flex-direction: column;
          gap: 0.05rem;
          &-up,
          &-down {
            transition: all 0.2s;
            opacity: 1;
          }
          &-up--fill,
          &-down--fill {
            fill: #d2d9de;
            transition: all 0.2s;
          }
        }
        &:hover &-sort path {
          fill: rgb(161, 161, 161);
        }
      }
    }
    @include lg(){
      &-row {
        &-item:last-child {
          min-width: 5.625rem;
        }
        &-item:first-child {
          padding-left: 1.125rem;
        }
        &-item {
          padding: 0.515625rem 1.125rem 0.515625rem 0;
          font-size: 0.5625rem;
          &-sort {
            padding-left: 0.75rem;
            gap: 0.0375rem;
          }
        }
      }
    }
    @include md(){
      &-row {
        &-item:last-child {
          min-width: 5.625rem;
        }
        &-item:first-child {
          padding-left: 1.125rem;
        }
        &-item {
          padding: 0.515625rem 1.125rem 0.515625rem 0;
          font-size: 0.5625rem;
          &-sort {
            padding-left: 0.75rem;
            gap: 0.0375rem;
          }
        }
      }
    }
  }
  &__body {
    word-break: break-word;

    &-row {
      &-item {
        @include tableRowText();

        height: 2.5rem;

        &__check {
          margin: 0 1rem;
        }
      }
      &-item:first-child {
        padding-left: 1.5rem;
        //width: 15rem;
        // text-align: start;
      }
      &-item {
        padding-left: 0;
        padding-right: 1.5rem;
        vertical-align: middle;
        width: max-content;
        padding: auto;

        text-align: center;
        word-break: break-word;

        &-visa {
          width: 31px;
          height: 18px;
        }
        &-mastercard {
          width: 26px;
          height: 14px;
        }
        &-status {
          width: 0.875rem;
          height: 0.875rem;
        }
      }
      &-actions {
        padding-left: 0;
        padding-right: 1.5rem;
        vertical-align: middle;
        width: 10rem;
        &-list {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.375rem;
          padding: 0;
          margin: 0;
          &-item {
            display: block;
            width: 0.875rem;
            height: 0.875rem;
            background-size: contain;
            background-repeat: no-repeat;
            &::before {
              content: "";
              position: absolute;
              background-color: transparent;
              transition: all 0.3s;
              width: 0.875rem;
              height: 0.875rem;
              border-radius: 9999px;
            }
            &:hover::before {
              @include menuActionsTxtHover();
              transform: scale(2);
            }
            &:active::before {
              color: $hover-button;
            }
          }
        }
      }
    }
    @include lg(){
      &-row {
        &-item {
          height: 2rem;
          padding: 0;
        }
        &-item:first-child {
          padding-left: 1.125rem;
        }
        &-item,
        &-actions {
          padding-right: 1.125rem;
        }
        &-actions {
          &-list {
            gap: 1.03125rem;
            &-item {
              width: 0.65625rem;
              height: 0.65625rem;
              &::before {
                width: 0.65625rem;
                height: 0.65625rem;
              }
            }
          }
        }
      }
    }
    @include md(){
      &-row {
        &-item {
          height: 2rem;
          padding: 0;
        }
        &-item:first-child {
          padding-left: 1.125rem;
        }
        &-item,
        &-actions {
          padding-right: 1.125rem;
        }
        &-actions {
          &-list {
            gap: 1.03125rem;
            &-item {
              width: 0.65625rem;
              height: 0.65625rem;
              &::before {
                width: 0.65625rem;
                height: 0.65625rem;
              }
            }
          }
        }
      }
    }
  }

  &__init{
    display: flex;
    justify-content: center;
    height: 4rem;
    align-items: center;
    background-color: $background-tables;
    border-radius: 0 0 1rem 1rem;
  }

  &-scroll{
    display: block;
    overflow: auto;
    scrollbar-width: thin;
    width: 100%;
    max-height: calc(100vh - 12rem);
    height: 100%;
  }

  &-sticky-right{
    position: sticky;
    z-index: 5;
    right: 0;
    background: $background-tables;
    justify-content: center;
    padding: 0 0.7rem;
  }
}
